SUPABASE_URL="https://tspdqdyoxuuwemjbfgll.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRzcGRxZHlveHV1d2VtamJmZ2xsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzA5NDE1MzIsImV4cCI6MjA0NjUxNzUzMn0.I9Fa8lhIU4tM5nEy5wYro_BVQGcZ3Z3VwFOHjx7-Shk"
SUPABASE_SERVICE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRzcGRxZHlveHV1d2VtamJmZ2xsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczMDk0MTUzMiwiZXhwIjoyMDQ2NTE3NTMyfQ.wF0QsGpRip1ALnbMJCDqoKmAsxuH9dM46Em8lPc52KU"
